@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/public/storage/bg.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center;
}

h1 {
    font-family: "Rubik Bubbles";
    font-style: normal;
    font-size: 100px;
    line-height: 152px;
    text-align: center;
    color: #ebfffe;

    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px #5c41c8;
}

h5 {
    font-family: "Brush Script MT", "Brush Script Std", cursive; /* Specify Brush Script fonts */
    font-style: normal;
    font-size: 100px;
    line-height: 152px;
    text-align: center;
    color: #ffffff; /* Purple color */

    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px #000000;
}
